* {
  font-family: Helvetica, sans;
  font-size: 14px;
}

body {
  text-align: center;
}

header {
  margin: 30px;
}

section {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

header div {
  margin-top: -10px;
  padding-left: 100px;
}

a {
  text-decoration: none;
  color: black;
}

.row:hover {
  background-color: #eee;
}

.table {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.row:first-child {
  font-weight: bold;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid silver;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cfgcell {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid silver;
  white-space: nowrap;
}

#pr {
  margin-top: 30px;
}

#pr .cell:first-child {
  max-width: 40px;
}

#pr .cell:nth-child(2) {
  max-width: 100px;
}

#pr .cell:nth-child(4) {
  max-width: 500px;
}

#pr .cell:nth-child(5) {
  max-width: 80px;
}

input[type=search] {
  width: 100%;
}
