h2 {
	text-align: center;
	margin: 25px;
	margin-bottom: 5px;
}

#pull-requests {
	font-size: smaller;
}

table {
	margin: 0 auto;
}

thead {
	font-weight: bold;
}

input {
	border: 1px solid silver;
}

tbody tr:hover {
	background-color: silver;
}

td {
	padding: 5px;
}

th {
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}
