* {
	font-family: sans-serif;
}

h2 {
	text-align: center;
	margin: 25px;
	margin-bottom: 5px;
}

#pull-requests {
	font-size: smaller;
}

table {
	margin: 0 auto;
}

thead {
	font-weight: bold;
}

input {
	border: 1px solid silver;
	padding-right: 20px;
}

.clean {
	margin-left: -20px;
	cursor: pointer;
}

tbody tr:hover {
	background-color: silver;
}

td {
	padding: 5px;
}

th {
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}

#instruction {
	max-width: 710px;
	padding: 25px;
	font-size: smaller;
	margin: 0 auto;
	color: gray;
}

footer {
	text-align: right;
	font-size: x-small;
	padding-top: 50px;
	margin: 0 50px;
	color: gray;
}
