{% extends "layout.html" %}
{% block body %}
<h2 style="text-align: center;">Opencast: Open Pull Requests</h2>
<div id="pull-requests">

	<div style="padding-left: 25px; text-align: center;">
		{{ requests|length }} pull requests open.
	</div>

	<div style="padding: 30px; text-align: center;">
		Global Search:
		<input class="search" placeholder="Global search" />
	</div>

	<table class=releasetickets>
		<thead>
			<tr>
				<th>Release</th>
				<th>Current Assignee</th>
				<th title="Date and time the ticket was assigned to the current reviewer (UTC)">Reassigned</th>
				<th title="Days since the ticket was assigned to the current reviewer">Days</th>
			</tr>
		</thead>
		<tbody>
			{% for rt in releasetickets %}
			<tr {{ 'style=color:red;' if rt.merge_duration(0) >= 2 else '' | safe }}>
				<td><a href="{{ rt.url }}">{{ rt.version }}</a></td>
				<td>{{ rt.assignee }}</td>
				<td>{{ rt.last_changed }}</td>
				<td>≥ {{ rt.merge_duration(0) }} days</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th></th>
				<th class="sort" data-sort="id"            >ID ▲▼</th>
				<th class="sort" data-sort="created_on"    >Created ▲▼</th>
				<th class="sort" data-sort="author"        >Author ▲▼</th>
				<th class="sort" data-sort="title"         >Title ▲▼</th>
				<th class=ellipsis />
				<th class="sort hide" data-sort="source_repo"   >Source (Repository) ▲▼</th>
				<th class="sort hide" data-sort="source_branch" >Source (Branch) ▲▼</th>
				<th class="sort" data-sort="dest_branch"   >Destination ▲▼</th>
				<th class="sort" data-sort="reviewer"      >Reviewer ▲▼</th>
			</tr>
			<tr>
				<th></th>
				<th><input id="search-id"            placeholder="Search for ID"            size=3  /></th>
				<th><input id="search-created_on"    placeholder="Search for creation date" size=7  /></th>
				<th><input id="search-author"        placeholder="Search for author"        size=11 /></th>
				<th><input id="search-title"         placeholder="Search for title"         size=35 /></th>
				<th class=ellipsis />
				<th class=hide><input id="search-source_repo"   placeholder="Search for source-repo"   size=20 /></th>
				<th class=hide><input id="search-source_branch" placeholder="Search for source-branch" size=20 /></th>
				<th><input id="search-dest_branch"   placeholder="Search for dest-branch"   size=8  /></th>
				<th><input id="search-reviewer"      placeholder="Search for reviewer"      size=10 /></th>
			</tr>
		</thead>
		<tbody class=list>
			{% for pr in requests %}
			<tr class="{{ '' if pr.active else 'hold' }}">
				{% if pr.state == 'open' and pr.approved_by_reviewer %}
				<td class=appr_r title="Approved by official reviewer">✔</td>
				{% elif pr.state == 'open' and pr.approved_by %}
				<td class=appr_o title="Approved by non-official reviewer">✔</td>
				{% elif pr.state == 'open' %}
				<td></td>
				{% else %}
				<td class="{{ pr.state }}" title="{{ pr.state }}">{{ pr.state[:1].upper() }}</td>
				{% endif %}
				<td class=id><a title="Go to pull request" href={{ pr.url }}>#{{ pr.id }}</a></td>
				<td class=created_on><span title="{{ pr.created }}">{{ pr.created_date }}</span></a></td>
				<td class=author title="{{ pr.author_user }}">{{ pr.author_name }}</td>
				<td class=title><a title="Go to pull request" href={{ pr.url }}>{{ pr.title|truncate(60, False, '…') }}</a></td>
				<td class=ellipsis>⋮</td>
				<td class="source_repo hide">{{ pr.source_repo or ''|truncate(29, True, '…') }}</td>
				<td class="source_branch hide">{{ pr.source_branch|truncate(30, True, '…') }}</td>
				<td class=dest_branch><a title="Filter by branch" href='#'
						onclick="branchfilter('{{ pr.destination }}');">{{ pr.destination|truncate(12, True, '…') }}</a></td>
				{% if pr.reviewer_name %}
				<td class=reviewer>{{ pr.reviewer_name or '' }}
					<i title="Days since the review was assigned">({{ pr.review_duration() }})</i></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
