<!doctype html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='func.js') }}"></script>
	<title>Opencast: Open Pull Requests</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id=bookmark>
	<a title="Permalink to this filter" onclick="bookmark();">⚑</a>
</div>

<div class=page>
	{% block body %}{% endblock %}
</div>

<p id=instruction>
	To be added as reviewer, please comment on the pull request in BitBucket
	using the string //review//. For example, write a comment like “I will
	//review// this request.”.
</p>

<footer>
	Powered by <a href="https://github.com/lkiesow/bitbucket-pullrequest-filter">bitbucket-pullrequest-filter</a>
</footer>

</body>
</html>
