{% extends "layout.html" %}
{% block body %}
<h2 style="text-align: center;">Opencast Matterhorn: Review Stats</h2>
<div id="pull-requests">


	<table class=stats>
		<thead>
			<tr>
				<th>Reviewer</th>
				<th>Count</th>
				<th>Reviewed Pull Requests</th>
			</tr>
		</thead>
		<tbody>
			{% for s in stats %}
			<tr>
				<td title="{{ s[0] }}">{{ s[1] }}</td>
				<td>{{ s[2] }}</td>
				<td class=pr>
					{% for pr in s[3] %}
					<span title={{ pr }}>|</span>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
{% endblock %}
